@import url('./keyframes.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

html {
  /* font-family: system-ui, sans-serif; */
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 6px;
  border: 1px solid transparent;
}

.light *::-webkit-scrollbar-thumb {
  @apply bg-neutral-400;
}

.dark *::-webkit-scrollbar-thumb {
  @apply bg-neutral-700;
}
